* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
