GRAPHRAG_API_KEY=<API_KEY> # DO NOT CHANGE, KEEP IT HERE
AZURE_OPENAI_ENDPOINT=https://<YOUR_FOUNDRY_RESOURCE_NAME>.openai.azure.com/
AZURE_COGNITIVE_SERVICES_ENDPOINT=https://<YOUR_FOUNDRY_RESOURCE_NAME>.cognitiveservices.azure.com/
AZURE_AI_SEARCH_ENDPOINT=https://<YOUR_AZURE_AI_SEARCH_RESOURCE_NAME>.search.windows.net
AZURE_BLOB_STORAGE_ENDPOINT=https://<YOUR_BLOB_STORAGE_RESOURCE_NAME>.blob.core.windows.net/