GRAPHRAG_API_KEY=<API_KEY> # leave this as it is, unless you are using key-based auth for the models
AZURE_OPENAI_ENDPOINT=https://<YOUR_FOUNDRY_RESOURCE_NAME>.openai.azure.com/ # replace with your resource name, for azure openai
AZURE_COGNITIVE_SERVICES_ENDPOINT=https://<YOUR_FOUNDRY_RESOURCE_NAME>.cognitiveservices.azure.com/ # replace with your resource name, for azure cognitive services